.component-parameters {
	width: 220px;
	flex-shrink: 0;
	background: #fafafb;
	box-shadow: -1px 1px 3px rgba(0,0,0,.09);
	z-index: 1;

	h3 {
		font-size: 16px;
		font-weight: 400;
		color: $gray;
		margin: 20px 20px 10px;
		text-align: center;
	}

	p {
		font-size: 14px;
		text-align: center;
		color: $gray;
		padding: 10px;
	}

}

// params ui
.component-params-wrapper {
	font-size: 14px;
	padding: 10px;

	> span {
		display: inline-block;
		font-size: 13px;
		margin: 4px 0;
		b {
			padding: 0 0 0 4px;
			color: $blue;
		}
	}

	.delete {
		display: block;
		padding: 10px;
		margin: 6px 0 10px;
		text-align: center;
		color: white;
		background: $red;
		text-decoration: none;
		border-radius: 3px;
		transition: all .3s;
		&:hover {
			background: darken($red, 5%);
		}
	}

	section {
		padding: 5px 0;
		display: flex;
		span {
			display: inline-block;
			width: 40%;
			text-transform: capitalize;
			padding: 2px 0;
			flex-shrink: 0;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		input {
			width: 115px;
			@include input-focus;
		}
		.color-picker-wrapper {
			flex-grow: 1;
			position: relative;
			a {
				display: block;
				height: 100%;
				border-radius: 2px;
			}
			.chrome-picker {
				position: absolute;
				z-index: 1;
				left: -70px;
			}
		}
	}

}
